%header
  .header
    =link_to root_path do
      .logo
        = image_tag('logo.png')
    %nav.nav
      %ul
        %li{ class: @section&.slug == '#' ? 'selected' : '' }
          = link_to "How to use the store", '#'
        %li{ class: @section&.slug == '#' ? 'selected' : '' }
          = link_to "Outcomes framework", '#'
        %li{ class: @section&.slug == '#' ? 'selected' : '' }
          = link_to "About the evidence store", '#'
= render template: "partials/sub" if @section
