%header
  .header
    =link_to "https://whatworks-csc.org.uk" do
      .logo
        = image_tag('logo.png')
    %nav.nav
      %ul
        - pages.all.each do |p|
          %li= link_to p.title, p
        %li{ class: @section&.slug == '#' ? 'selected' : '' }
          = link_to "Evidence Store", '/'

        %li{ class: @section&.slug == 'why-an-evidence-store' ? 'selected' : '' }
          = link_to "Why an ES?", '/why-an-evidence-store'

        %li{ class: @section&.slug == 'how-we-built' ? 'selected' : '' }
          = link_to "How we built…", '/how-we-built'

        %li{ class: @section&.slug == 'evidence-standards' ? 'selected' : '' }
          = link_to "Evidence standards", '/evidence-standards'

        %li{ class: @section&.slug == 'faqs' ? 'selected' : '' }
          = link_to "FAQs", '/faqs'
/ = render template: "partials/sub" if @section

