.array_field
  .field-unit__label
    = f.label field.attribute
  .field-unit__field{ class: field.attribute }
    = render partial: 'fields/array_field/field', locals: { f: f, field: field, hide_minus_button: true }
.add_array
  %a.button{ data: { field: "#{render partial: 'fields/array_field/field', locals: { f: f, field: field, hide_minus_button: false }}", target: ".#{field.attribute}" }, id: "add_#{field.attribute}" }
    = t("helpers.array_field.#{field.attribute}.add")
