%section.background.hero
  .container

%section
  .container.bump
    .contents
      %ul
        %li
          Contents
        %li
          = link_to 'How is it meant to work?', '#link_1'
        %li
          = link_to 'What are the evaluated outcomes?', '#link_2'
        %li
          = link_to 'How effective is it?', '#link_3'
        %li
          = link_to 'Where has it been studied?', '#link_4'
        %li
          = link_to 'Who does this work for?', '#link_5'
        %li
          = link_to 'When does it work best?', '#link_6'
        %li
          = link_to 'How does it work in practice?', '#link_7'
        %li
          = link_to 'What are the costs and benefits?', '#link_8'
        %li
          = link_to 'How is it implemented?', '#link_9'
        %li
          = link_to 'Summary of key points', '#link_10'
        %li
          = link_to 'Further resources', '#link_11'
      / %ul
      /   %li
      /     Links and files
      /   %li
      /     = link_to 'Pdf' ''
      /   %li
      /     = link_to 'Another Pdf' ''
    .col_9
      .tags
        %span Maternal-child attachment
        %span maternal sensitivity
        %span maternal reflective function
        %span maternal representations
        %span intervention
      %h1
        Interventions to improve maternal-child attachment
      %h4
        This is a range of interventions developed to improve attachment between mothers and their babies in the early stages of the children’s lives.
      %section.section
        %h2#link_1
          How is it meant to work?
        %p
          Because there are many different interventions, the focus of this review is on the impact of intervening rather than the impact of any specific intervention, and looks at two outcomes related to attachment.
        %p
          Interventions include (but are not limited to): home visiting services, group workshops with video-based feedback, infant massage, cognitive restructuring and mother and baby psychotherapy. 

      %section.section
        %h2#link_2
          What are the evaluated outcomes?
        %p
          Two factors thought to improve maternal-child attachment were evaluated:
        %ul
          %li
            Maternal sensitivity
          %li
            Reflective functioning


      %section.section
        %h2#link_3
          How effective is it?
        %p
          Overall, these interventions were shown to be 
          %strong very effective
          in promoting secure maternal-child attachments, compared to usual service. Infants who received an intervention were nearly 
          %strong three times as likely to be securely attached
          than those who received normal service. This is based on 
          %strong xxxx-quality
          evidence.

        .measurement
          .effect
            %label
              Effect
            .spot.measure.fill
            .spot.measure.fill
            .spot.measure.fill
          / .negative.fill
          /   %label
          /     Negative
          /   .spot.measure
          .evidence
            %label
              Evidence
            .spot.measure
            .spot.measure
            .spot.measure

      %section.section
        %h2#link_4
          Where has it been studied?
        %p
          The majority of the studies have been carried out in the US. There has been one study in the UK. However, location might be less important for interventions of this kind than for other programmes (such as those that involve wider services and community support).

      %section.section
        %h2#link_5
          Who does this work for?
        %p
          For increasing maternal attachment, these interventions are:
        %strong Effective 
        for…
        %ul
          %li
            “Maltreated and highly irritable children”
          %li
            Mothers of low socioeconomic status
          %li
            Maternal depression
          %li
            Recent adoption
          %li
            High-risk families
        %strong Not effective 
        for…
        %p
          Low-risk families
        Has a 
        %strong negative effective 
        for…
        %p
          N/A


      %section.section
        %h2#link_6
          When does it work best?
        %p
          Because this isn’t a detailed examination of each intervention, it doesn’t contain an in-depth review of the individual mechanisms. But it does point to some aspects that might be particularly important…

      %section.section
        %h2#link_7
          How does it work in practice?
        %p
          The theory is that these interventions improve maternal sensitivity and reflective function, which then promotes secure maternal-child attachment.  
        %p
          It’s argued that a more secure maternal-child attachment lays the foundations for children’s healthy social and mental development.
        %p
          But it is also worth noting that there are ongoing debates about the role of attachment in a range of outcomes when interpreting the impact of attachment on the long-term wellbeing of children.

      %section.section
        %h2#link_8
          What are the costs and benefits?
        %p
          There is no evidence on the cost-benefit of this intervention.

      %section.section
        %h2#link_9
          How is it implemented?
        %p
          While it’s difficult to compare a range of various interventions, there are some consistent key features:
        %ul
          %li
            Most interventions involved few sessions
          %p
            Although the most effective intervention involved intensive psychotherapy, the other effective interventions were far less intensive. Three studies showed benefits after only 2-4 home visits, and two others had 8-16 sessions.
          %li
            Most interventions started when children were 3-9 months
          %p
            This challenges the notion that effective interventions must begin at birth and gives more scope to implement interventions later.
          %li
            Video feedback was a consistent tool
          %p
            Video feedback featured in all but one of the successful interventions. This may be one of the “active ingredients” that help deliver the reported benefits.

        %h3
          Who can deliver it?
        %p
          DK
        %h3
          What are the training requirements?
        %p
          DK
        %h3
          How are the practitioners supervised?
        %p
          DK
        %h3
          What are the systems for maintaining fidelity?
        %p
          DK
        %h3
          What else supports good implementation?
        %p
          Limited caseloads for those delivering the intervention


      %section.section 
        %h2#link_10
          Summary of key points
        %ul
          %li
            There is strong evidence for the benefits of a range of interventions to improve maternal-child attachment security
          %li
            Varied interventions means that there is less known on individual aspects that create the reported benefits
          %li
            Key features of effective interventions need further exploration, to better understand which aspects create the benefits
          %li
            Interventions seem to have the greatest benefit for high-risk families 
          %li
            The use of video feedback appears to be a key feature 
          %li
            Ongoing debates mean that there should be caution when interpreting the impact of attachment on the long-term wellbeing of children
          %li
            An important question that is not addressed is how long the observed changes


      %section.section
        %h2#link_11
          Further resources
        / %p
        /   Systematic review original text/EMMIE summary

        / %h3
        /   Useful contacts

        / %ul.no-bullet
        /   %li
        /     = link_to 'Sheffield Alcohol Support Service', ''
        /   %li
        /     = link_to 'Cardiff and Vale of Glamorgan', ''

        %h3
          Links and files

        %ul.no-bullet
          %li
            = link_to 'Original technical summary', '#'
          %li
            = link_to 'Explanatory site content', '#'
