%section
  .container.bump
    .contents
      %ul
        %li
          Contents
        %li
          = link_to 'How is it meant to work?', '#link_1'
        %li
          = link_to 'What are the evaluated outcomes?', '#link_2'
        %li
          = link_to 'How effective is it?', '#link_3'
        %li
          = link_to 'Where has it been studied?', '#link_4'
        %li
          = link_to 'Who does this work for?', '#link_5'
        %li
          = link_to 'When does it work best?', '#link_6'
        %li
          = link_to 'How does it work in practice?', '#link_7'
        %li
          = link_to 'What are the costs and benefits?', '#link_8'
        %li
          = link_to 'How is it implemented?', '#link_9'
        %li
          = link_to 'Summary of key points', '#link_10'
        %li
          = link_to 'Further resources', '#link_11'
      / %ul
      /   %li
      /     Links and files
      /   %li
      /     = link_to 'Pdf' ''
      /   %li
      /     = link_to 'Another Pdf' ''
    .col_9
      %h1
        Mellow Parenting
      %h4
        Mellow Parenting (MP) is a programme designed to promote sensitive parenting. It aims to improve attachment through addressing parental mental health as well as developing better parent-child relationships.
      %section.section
        %h2#link_1
          How is it meant to work?
        %p
          Mellow Parenting is a group-based approach designed to support families who are experiencing relationship challenges with their young children and who have additional health and social care needs. 
        %p
          It is a flexible programme based on principles from attachment theory, adult education and behavioural psychology that also offers practical help (for instance help with transport and childcare). MP has also been modified for different groups (such as Mellow Fathers, Mellow Babies etc).
        %p
          Most studies included focused on the main Mellow Parenting intervention (aimed at children aged 1-4), but two focused on Mellow Babies (for children under one year old). 

      %section.section
        %h2#link_2
          What are the evaluated outcomes?
        %ul
          %li
            Improved parental mental health
          %li
            Improved child behaviour


      %section.section
        %h2#link_3
          How effective is it?
        %p
          MP was shown to have a 
          %strong
            medium positive effect 
          for families at high risk of adverse outcomes. Improvements were seen in both parental mental health and child behavioural problems.
        %p
          However, data types were diverse and results showed some signs of methodological bias. It becomes more difficult to draw firm conclusions based on 
          %strong
            xxxx-xxx quality of evidence.
        %p
          The effect should be interpreted as a 
          %strong
            positive indication 
          that the intervention may be effective for children and families.

        .measurement
          .of-effect
            %label
              Effect
            .spot.measure.fill
            .spot.measure.fill
            .spot.measure.fill
          / .negative.fill
          /   %label
          /     Negative
          /   .spot.measure
          .of-evidence
            %label
              Evidence
            .spot.measure.fill
            .spot.measure.fill
            .spot.measure.fill

      %section.section
        %h2#link_4
          Where has it been studied?
        %p
          The studies were carried out in Russia, Scotland, New Zealand and Northern Ireland. More evidence from the UK would help us understand how MP works in a local context.

      %section.section
        %h2#link_5
          Who does this work for?
        %p
          Specific subgroups have not been identified in the studies so far. One study, however, found that MP was not likely to benefit children with reactive attachment disorders.


      %section.section
        %h2#link_6
          When does it work best?
        %p
          The assumption is that programmes like Mellow Parenting, that have a focus on parental mental health and parental sensitivity, lead to improved outcomes for childhood psychological development.
        %p
          But at the moment there is little explanation to support findings or details of the specific routes to outcomes. Future evaluations of MP should develop more detail on the nature of expected outcomes. For example, considering the types of childhood outcomes that should be tested.

      %section.section
        %h2#link_7
          How does it work in practice?
        %p
          There are few details of specific successes or challenges of implementing MP across different cases. However, use of video feedback and interactive tasks were identified as key enablers to programme delivery.  
        %p
          Also, the fact that MP can be delivered by non-specialists who can then work to accreditation as a practitioner gives the programme greater reach.

      %section.section
        %h2#link_8
          What are the costs and benefits?
        %p
          There is no information on the cost-benefit of this intervention.

      %section.section
        %h2#link_9
          How is it implemented?

        %h3
          Who can deliver it?
        %p
          DK
        %h3
          What are the training requirements?
        %p
          DK
        %h3
          How are the practitioners supervised?
        %p
          DK
        %h3
          What are the systems for maintaining fidelity?
        %p
          DK
        %h3
          What else supports good implementation?
        %p
          DK


      %section.section 
        %h2#link_10
          Summary of key points
        %ul
          %li
            MP appears to have a 
            %strong
              medium positive effect 
            for families at high risk of adverse outcomes
          %li
            This effect applies to both outcomes studied: improved parental mental health and child problem behaviour
          %li
            However, most studies have been small and methodologically limited
          %li
            More research in needed on how MP might be implemented, and the causal pathways linking the intervention and its effects
          %li
            We don’t know about the costs and benefits of MP programmes so future studies should examine these

      %section.section
        %h2#link_11
          Further resources

        %h3
          Links and files

        %ul.no-bullet
          %li
            = link_to 'Original technical summary', '#'
          %li
            = link_to 'Explanatory site content', '#'
