%section.section#implementation
  = implementation.intro
  = implementation.how_is_it_delivered
  = implementation.deliverer
  = implementation.training_requirements
  = implementation.fidelity
  = implementation.support
