%section.section#implementation
  %h2#intro= t('implementation.titles.intro')
  %p= implementation.intro
  %h2#how_is_it_delivered= t('implementation.titles.how_is_it_delivered')
  %p= implementation.how_is_it_delivered
  %h2#deliverer= t('implementation.titles.deliverer')
  %p= implementation.deliverer
  %h2#training_requirements= t('implementation.titles.training_requirements')
  %p= implementation.training_requirements
  %h2#fidelity= t('implementation.titles.fidelity')
  %p= implementation.fidelity
  %h2#support= t('implementation.titles.support')
  %p= implementation.support
