%li
  = link_to intervention, class: 'card' do
    .main
      .details
        %h3= intervention.title
        %p= intervention.summary
        .tags= intervention.tag_list
    .outcome_list
      - intervention.outcomes.each do |outcome|
        = render 'outcomes/outcome_card', outcome: outcome
