%ul
  %li
    Contents
  = intervention.nav_item :what_is_it
  = intervention.nav_item :how
  = intervention.nav_item :outcomes
  %li= link_to t('intervention.titles.effective'), '#effective'
  = intervention.nav_item :studies
  = intervention.nav_item :who_does_it_work_for
  = intervention.nav_item :when_where_how
  = intervention.nav_item :costs_benefits
  = intervention.implementation.nav_item :intro
  = intervention.implementation.nav_item :how_is_it_delivered
  = intervention.implementation.nav_item :deliverer
  = intervention.implementation.nav_item :training_requirements
  = intervention.implementation.nav_item :fidelity
  = intervention.implementation.nav_item :support
  %li= link_to t('intervention.titles.resources'), '#resources'
