%section
  .container.bump
    .contents
      = render 'nav'
      
    .col_9
      %h1= intervention.title
      
      %h4= intervention.intro

      %section.section
        = intervention.what_is_it
        
      %section.section
        = intervention.how
        
      %section.section
        = intervention.outcomes.list_with_header

      %section.section
        %h2#effective= t('helpers.label.intervention.effective')
                
        = render intervention.outcomes

        %p= intervention.outcome_notes
            
      %section.section
        %p= intervention.studies
        
      %section.section
        = intervention.who_does_it_work_for

      %section.section
        = intervention.when_where_how

      %section.section
        %p= intervention.costs_benefits

      = render intervention.implementation
          
      %section.section
        %h2#resources= t('helpers.label.intervention.resources')
        
        = intervention.further_resources
        
        %ul
          = render intervention.links
          = render intervention.files
