%section
  .container.bump
    .contents
      %ul
        %li
          Contents
        %li
          = link_to t('intervention.titles.how'), '#how'
        %li
          = link_to t('intervention.titles.outcomes'), '#outcomes'
        %li
          = link_to t('intervention.titles.effective'), '#effective'
        %li
          = link_to t('intervention.titles.studies'), '#studies'
        %li
          = link_to t('intervention.titles.work_for'), '#work_for'
        %li
          = link_to t('intervention.titles.works_best'), '#works_best'
        %li
          = link_to t('intervention.titles.in_practice'), '#in_practice'
        %li
          = link_to t('intervention.titles.costs_benefits'), '#costs_benefits'
        %li
          = link_to t('intervention.titles.implementation'), '#implementation'
        %li
          = link_to t('intervention.titles.key_points'), '#key_points'
        %li
          = link_to t('intervention.titles.resources'), '#contacts'
      / %ul
      /   %li
      /     Links and files
      /   %li
      /     = link_to 'Pdf' ''
      /   %li
      /     = link_to 'Another Pdf' ''
    .col_9
      / .tags
      /   %span Child safety
      /   %span crisis
      /   %span family functioning
      /   %span intensive family preservation programmes
      /   %span out-of-home placement

      %h1= intervention.title
      
      %section.section#intro
        = intervention.intro
        
      %section.section#how
        = intervention.how
        
      %section.section#outcomes
        = intervention.outcomes.list_with_header

      %section.section
        %h2#effective= t('intervention.titles.effective')
                
        = render intervention.outcomes
            
      %section.section#studies
        = intervention.studies
        
      %section.section
        %h2#work_for= t('intervention.titles.work_for')
        %strong Effective for…
        - intervention.effective_subjects.each do |i|
          %p= i.title

        %strong Not effective for…
        - intervention.ineffective_subjects.each do |i|
          %p= i.title

        Has a
        %strong negative effective
        for…
        - intervention.negative_subjects.each do |i|
          %p= i.title

        %p
          This intervention has been shown to be more effective for:

        %ul
          - intervention.more_effective.each do |e|
            %li= e

      %section.section
        %h2#works_best= t('intervention.titles.works_best')
        %ul
          - intervention.works_best.each do |e|
            %li= e

      %section.section#in_practice
        = intervention.in_practice
        
      %section.section#costs_benefits
        = intervention.costs_benefits

      = render intervention.implementation

      %section.section
        %h2#key_points= t('intervention.titles.key_points')
        %ul
          - intervention.key_points.each do |i|
            %li= i
          
      %section.section
        %h2#contacts= t('intervention.titles.resources')

        = render 'contacts/contacts', contacts: intervention.contacts
        = render 'links/links', links: intervention.links
