%section.section
  .container
    .info-title
      %h1= intervention.title

      %h4= intervention.intro

    = render 'info_box'

  .contents
    = render 'nav'
    
  .col_9
    %section.section
      = intervention.what_is_it
      
    %section.section
      = intervention.how
      
    %section.section
      = intervention.outcomes.list_with_header

    %section.section
      %h2#effective= t('intervention.titles.effective')
              
      / = render intervention.outcomes

      %p= intervention.outcome_notes
          
    %section.section
      %p= intervention.studies
      
    %section.section
      = intervention.who_does_it_work_for

    %section.section
      = intervention.when_where_how

    %section.section
      %p= intervention.costs_benefits

    = render intervention.implementation
        
    %section.section
      %h2#resources= t('intervention.titles.resources')

      = render 'links/links', links: intervention.files_and_links
