%section.background.hero
  .container

%section.dashboard
  .container

    / .items
    /   .tags
    /     %span
    /       Domestic abuse
    /     %span
    /       Drug or alcohol abuse
    /     %span
    /       Emotional abuse
    /     %span
    /       Exploitation and radicalisation
    /     %span.selected
    /       Gangs
    /     %span
    /       Mental health
    /     %span
    /       Neglect
    /     %span.selected
    /       Physical abuse
    /     %span
    /       Sexual abuse
    /     %span.selected
    /       Youth offending

    .menu.item
      .details
        Intervention
      .outcome_wrap
        .outcome
          Evaluation
        .score
          .effect
            Effect
          .evidence
            Evidence

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot
          .evidence
            .spot.fill
            .spot
            .spot
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, moderate evidence
        .score
          .effect
            .spot
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Interventions to improve maternal-child attachment
        %p
          Improve attachment between mothers and their babies in the early stages of the children’s lives.
      .outcome_wrap
        .outcome
          %strong
            Maternal sensitivity
          %p
            High effect, hgh evidence.
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Reflective functioning
          %p
            High effect, high evidence.
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill

    = link_to '', class: 'item' do
      .details
        %h3
          IFFPS
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .outcome_wrap
        .outcome
          %strong
            Functioning
          %p
            Negative effect, high evidence
        .score
          .effect
            .spot.fill.negative
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry
          %p
            Low effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot
            .spot

    = link_to '', class: 'item' do
      .details
        %h3
          Intensive Family Preservation Programmes
        %p
          Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
      .outcome_wrap
        .outcome
          %strong
            Family functioning
          %p
            Moderate effect, low evidence
        .score
          .effect
            .spot.fill
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot.fill
      .outcome_wrap
        .outcome
          %strong
            Entry to care
          %p
            No effect, low evidence
        .score
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot.fill
            .spot
            .spot

