!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WwcEvidence
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => page_class, :id => @page&.slug}
    = render template: "partials/header"
    / %p.notice= notice
    / %p.alert= alert
    = yield
    = render template: "partials/footer"

    :javascript
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("sticky-nav");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }